header {
    padding: 20px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

header.search-results {
    justify-content: unset;
}

/* para los usuarios registrados. */

#header-options {
    display: flex;
    align-items: center;
    gap: 20px;
}

header.search-results #header-options {
    justify-content: space-between;
    flex-grow: 1;
}

#search-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

#search-icon {
    cursor: pointer;
}

#search-input {
    width: 0;
    opacity: 0;
    visibility: hidden;
    outline: none;
    border: none;
    transition: width 0.5s ease, opacity 0.5s ease, visibility 0s linear 0.3s;
}

#search-input.active {
    visibility: visible;
    width: 100px;
    opacity: 1;
    transition: width 0.5s ease, opacity 0.5s ease, visibility 0s;
}

#profile-dropdown-container {
    position: relative;
}

#profile-dropdown-toggler {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

#profile-dropdown {
    position: absolute;
    z-index: 50;
    top: 100%;
    left: 50%;
    transform: translateX(50%);
    display: none;
    width: 200px;
    background: white;
    box-shadow: 0 0 10px 5px grey;
}

#profile-dropdown.active {
    display: block;
}

.dropdown-section {
    padding: 20px;
    border-bottom: 1px solid grey;
}

.dropdown-section a {
    text-decoration: none;
    color: rgb(72, 70, 70);
    cursor: pointer;
}

.dropdown-section:last-child {
    border-bottom: none;
}

#profile-dropdown-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

#profile-dropdown-section img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* para los usuarios no registrados */

header button {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: lightgray;
    opacity: .6;
    display: none;
}

.login-form {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 200;
    width: 100%;
    max-width: 600px;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    display: none;
}

.login-form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.login-form button {
    background: rgb(31, 31, 31);
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.login-form button:hover {
    background: black;
}

.login-form i {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
}

#img-preview {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.login-form input:not(#img-input) {
    padding: 10px;
    background: lightgray;
    text-align: center;
    border: none;
}

.login-form input:not(#img-input).active {
    background: white;
}