* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body.no-scroll {
    overflow: hidden;
}

section {
    padding: 10px;
    margin: auto;
    max-width: 600px;
}

/* post-section */

#post-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#post-title {
    font-size: 3rem;
}

/* post-author */

#post-author-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

#post-author-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

#post-author-info {
    display: flex;
    gap: 5px;
    align-items: center;
}

#post-author-name {
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
    font-weight: bold;
}

#post-author-name, #post-follow-author-btn {
    cursor: pointer;
}

#post-author-name:hover {
    text-decoration: underline;
}

#post-follow-author-btn {
    color: green;
}

#post-follow-author-btn:hover {
    color: rgb(9, 108, 9);
}

#post-author-dropdown {
    position: absolute;
    top: 190px;
    display: none;
    width: 300px;
    padding: 20px;
    box-shadow: 0 0 5px 5px grey;
    background: white;
}

#post-author-dropdown-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

#post-author-dropdown-name {
    text-decoration: none;
    color: black;
}

#post-author-dropdown-follow-btn {
    position: absolute;
    top: 50px;
    right: 20px;
    background: rgb(36, 36, 36);
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
}

#post-author-dropdown-follow-btn:hover {
    background: black;
}

/* post-stats */

#post-stats {
    display: flex;
    gap: 20px;
    padding: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#post-stats div {
    display: flex;
    gap: 5px;
}

#post-stats i, #post-stats p {
    cursor: pointer;
    color: grey;
}

#claps-icon:hover, #claps-counter:hover, #post-comments:hover i, #post-comments:hover p, #save-post-btn:hover {
    color: black;
}

#post-img {
    width: 100%;
}

#post-content {
    font-size: 1.3rem;
}

/* dividing line */

#dividing-line {
    width: 100%;
    height: 1px;
    background: black;
    margin: 60px 0;
}

/* comments-section */

#comments-section {
    padding-bottom: 80px;
}

/* en caso de que el usuario este autenticado */

#comment-textarea {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-top: 20px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px 1px grey;
    transition: height .5s ease;
}

#comment-textarea.disabled {
    cursor: pointer;
}

#comment-btns-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

#comment-btns-container button {
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

#cancel-comment-btn {
    display: none;
}

#add-comment-btn {
    background: green;
    color: white;
    opacity: 0.5;
}

#add-comment-btn.enabled {
    opacity: 1;
    cursor: pointer;
}

/* comments container */

.comment-container {
    position: relative;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid black;
}

.comment-author-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.comment-author-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.comment-author-name {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.comment-author-name:hover {
    text-decoration: underline;
}

/* dropdown del autor del comentario */

.comment-author-dropdown {
    position: absolute;
    bottom: 130px;
    flex-direction: column;
    gap: 10px;
    background: white;
    width: 300px;
    padding: 20px;
    box-shadow: 0px 0px 20px 5px grey;
    border-radius: 5px;
    display: none;
}

.comment-author-dropdown-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.comment-author-dropdown-name {
    text-decoration: none;
    color: black;
}

.comment-author-dropdown-follow-btn {
    position: absolute;
    top: 30px;
    right: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    background: rgb(48, 48, 48);
    color: white;
    cursor: pointer;
}

.comment-author-dropdown-follow-btn:hover {
    background: black;
}

/* dropdown de opciones de comentario */

.comment-dropdown-container {
    position: absolute;
    right: 10px;
    top: 10px;
}

.comment-dropdown-toggler {
    cursor: pointer;
}

.comment-dropdown {
    position: absolute;
    right: 0;
    display: none;
    width: max-content;
    background: white;
    box-shadow: 0 0 5px 5px grey;
    padding: 5px;
}

.comment-dropdown.active {
    display: block;
}

.comment-dropdown p {
    cursor: pointer;
}

.comment-likes-container {
    display: flex;
    gap: 5px;
}

.comment-like-icon {
    cursor: pointer;
}

/* #overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100vh; 
    background: white;
    opacity: .95;
} */

#comment-deletion-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    display: none;
    text-align: center;
}

#comment-deletion-container.active {
    display: block;
}

#comment-deletion-container.active ~ #overlay {
    display: block;
    background: white;
    opacity: .97;
}

#comment-deletion-container-btns {
    margin-top: 20px;
}

#comment-deletion-container-btns button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

#cancel-comment-deletion-btn {
    background: white;
}

#delete-comment-btn {
    background: lightcoral;
    color: white;
}

#delete-comment-btn:hover {
    background: rgb(180, 87, 87);
}

/* comment-editing-textarea */

.comment-editing-container {
    padding: 10px;
    background: rgb(226, 225, 225);
}

.comment-editing-textarea {
    width: 100%;
    height: 100px;
    padding: 5px;
    resize: none;
}

.cancel-comment-editing-btn {
    background: none;
    border: none;
}

.update-comment-btn {
    background: rgb(40, 40, 40);
    border-radius: 20px;
    padding: 5px 10px;
    color: white;
    pointer-events: none;
    opacity: .2;
}

.update-comment-btn.enabled {
    pointer-events: all;
    opacity: 1;
    cursor: pointer;
}

.update-comment-btn.enabled:hover {
    background: black;
}