* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#title {
    text-align: center;
    margin-bottom: 50px;
}

#create-post-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    max-width: 600px;
    margin: auto;
}

img {
    height: 200px;
}

#image-input {
    display: none;
}

#title-input {
    font-size: 50px;
    border: none;
    outline: none;
}

#textarea {
    height: unset;
    border: none;
    outline: none;
    font-size: 20px;
}

#confirm-post-btn {
    padding: 10px;
    border-radius: 20px;
    background: rgb(7, 155, 7);
    color: white;
    width: 90px;
    cursor: pointer;
    pointer-events: none;
    opacity: .5;
}

#confirm-post-btn.enabled {
    pointer-events: all;
    opacity: 1;
}

