* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#register-form {
    margin: auto;
    width: 80%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}